.container {
  padding: 2rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-primary);
}

/* 각 입력 박스를 독립된 섹션처럼 */
.section-box {
  /*display: flex;
  flex-direction: column;*/
  background-color: var(--color-surface);
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  min-width: 900px;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

/* 항목 배치 */
.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 20px;
}

.form-row label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: var(--color-text);
}

.form-row .desc {
  font-size: 0.85rem;
  color: var(--color-muted);
  margin-bottom: 0.3rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea,
input[type="file"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: auto;
}

textarea {
  resize: vertical;
}

/* 설명 텍스트 강조 스타일 */
.text-help {
  font-size: 0.85rem;
  color: green;
}

/* 버튼 정렬 */
.btn-area {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

.btn-secondary {
  background-color: var(--color-btn-deac);
  color: var(--color-btn-ac);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* 이미지 미리보기 */
.image-upload-box {
  width: 140px;
  height: 140px;
  border: 2px dashed var(--color-muted);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface);
  transition: border-color 0.3s;
}

.image-upload-box:hover {
  border-color: var(--color-primary);
}

.image-upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}