<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
    <typeAlias type="com.iybook.product.dto.BookDto" alias="BookDto"/>
    <typeAlias type="com.iybook.product.dto.CategoryDto" alias="CategoryDto"/>
    <typeAlias type="com.iybook.product.dto.BookFilterDto" alias="BookFilterDto"/>
    <typeAlias type="com.iybook.product.dto.BookStatsDto" alias="BookStatsDto"/>
  </typeAliases>

</configuration>