<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
    <typeAlias type="com.iybook.sales.dto.OrderDto" alias="OrderDto"/>
    <typeAlias type="com.iybook.sales.dto.OrderRequestFilterDto" alias="OrderRequestFilterDto"/>
    <typeAlias type="com.iybook.sales.dto.SingleOrderPagingRequestDto" alias="SingleOrderPagingRequestDto"/>
    <typeAlias type="com.iybook.sales.dto.OrderStatusChangeDto" alias="OrderStatusChangeDto"/>

  </typeAliases>

</configuration>