<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iybook.product.dao.ProductMapper">

    <resultMap id="bookResultMap" type="BookDto">
        <id column="book_id" property="bookId"/>
        <result column="book_name" property="bookName"/>
        <result column="author_name" property="authorName"/>
        <result column="publisher" property="publisher"/>
        <result column="book_price" property="bookPrice"/>
        <result column="book_image" property="bookImage"/>
        <result column="book_description" property="bookDescription"/>
        <result column="category_id" property="categoryId"/>
        <result column="published_at" property="publishedAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="publish_status" property="publishStatus"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="CategoryDto">
        <id column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <resultMap id="bookStatsResultMap" type="BookStatsDto">
        <result column="all" property="all"/>
        <result column="sell" property="sell"/>
        <result column="sold" property="sold"/>
        <result column="end" property="end"/>
    </resultMap>

    <select id="selectBookList" resultMap="bookResultMap">
        select
              book_id
            , book_name
            , author_name
            , publisher
            , book_price
            , book_image
            , book_description
            , category_id
            , published_at
            , created_at
            , updated_at
            , publish_status
            , stock
        from
            tbl_book
    </select>

    <insert id="insertBook" useGeneratedKeys="true" keyProperty="bookId">
        insert into
            tbl_book
            (
              book_name
            , author_name
            , publisher
            , book_price
            , book_image
            , book_description
            , category_id
            , published_at
            , publish_status
            , stock
            )
        values
            (
              #{bookName}
            , #{authorName}
            , #{publisher}
            , #{bookPrice}
            , #{bookImage}
            , #{bookDescription}
            , #{categoryId}
            , #{publishedAt}
            , #{publishStatus}
            , #{stock}
            )
    </insert>

    <update id="updateBookById">
        update
            tbl_book
        set
              book_name = #{bookName}
            , author_name = #{authorName}
            , publisher = #{publisher}
            , book_price = #{bookPrice}
            , book_image = #{bookImage}
            , book_description = #{bookDescription}
            , category_id = #{categoryId}
            , updated_at = now()
            , publish_status = #{publishStatus}
            , stock = #{stock}
        where
            book_id = #{bookId}
    </update>

    <update id="updatePublishStatus" parameterType="map">
        update
            tbl_book
        set
            publish_status = #{status}
        where
            book_id in
        <foreach collection="bookIds" item="id" open="(" separator="," close=")">
             #{id}
        </foreach>
    </update>

    <select id="selectBookStats" resultMap="bookStatsResultMap">
        select
              count(*) as 'all'
            , ( select count(*) from tbl_book where publish_status = "판매" group by publish_status ) as sell
            , ( select count(*) from tbl_book where publish_status = "품절" group by publish_status ) as sold
            , ( select count(*) from tbl_book where publish_status = "숨김" group by publish_status ) as end
        from
            tbl_book
        group by
            publish_status = '*';
    </select>

    <select id="selectCategoryList" resultMap="categoryResultMap">
        select
            category_id
            , category_name
            , created_at
            , updated_at
        from
            tbl_category
    </select>

    <select id="selectBookListByFilter" resultMap="bookResultMap">
        select
              book_id
            , book_name
            , author_name
            , publisher
            , book_price
            , book_image
            , book_description
            , category_id
            , published_at
            , created_at
            , updated_at
            , publish_status
            , stock
        from
            tbl_book
        <where>
            <if test="bookId != null and bookId !=''">
                AND book_id LIKE CONCAT('%', #{bookId}, '%')
            </if>
            <if test="bookName != null and bookName !=''">
                AND book_name LIKE CONCAT('%', #{bookName}, '%')
            </if>
            <if test="publisher != null and publisher != ''">
                AND publisher LIKE CONCAT('%', #{publisher}, '%')
            </if>
            <if test="status != null and status.size() > 0">
                AND publish_status IN
                <foreach collection="status" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="startDate != null and startDate != ''">
                AND ${dateType} &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND ${dateType} &lt;= DATE_ADD(#{endDate}, INTERVAL 1 DAY)
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
        </where>
        order by
            created_at desc
    </select>

    <delete id="deleteBooks">
        delete from
            tbl_book
        where
            book_id IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

</mapper>